<!-- <ngx-charts-line-chart
*ngIf="lineChartData.length > 0"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="true"
  [yAxis]="true"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="true"
  [results]="lineChartData"

  >
</ngx-charts-line-chart> -->
<ngx-charts-line-chart
*ngIf="lineChartData.length > 0"
  [view]="view"
  [scheme]="colorScheme"
  [results]="lineChartData"
  [legend]="showLegend"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
></ngx-charts-line-chart>

<!-- (select)="onSelect($event)"
(activate)="onActivate($event)"
(deactivate)="onDeactivate($event)" -->